/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

/* Adding some code below */
#outer-box {
  background-color: blueviolet;
}

.white-text {
  color: white;
}

.inner-box {
  background-color: red;
}